* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --orange : #F28322;
    --vert-clair : #BDC426;
    --vert-fonce : #668C3F;
    --gris : #E8E8E8;
}

.creation_compte_membre body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.creation_compte_membre header {
    background-color: #000;
    padding: 10px 20px;
}

.creation_compte_membre nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creation_compte_membre nav .logo {
    color: white;
    font-size: 24px;
}

.creation_compte_membre nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.creation_compte_membre nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.creation_compte_membre nav ul li a.active {
    border-bottom: 2px solid var(--vert-clair);
}

.creation_compte_membre .creation_compte_membre_container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: white;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
}

.creation_compte_membre .creation_compte_membre_form-section {
    width: 50%;
}

.crea_membre_raison_sociale_num_siren,
.crea_membre_mail_tel {
    display: flex;
    justify-content: space-between;
}

body > main > div > div.creation_compte_membre_form-section > form > div.crea_membre_mail_tel > fieldset:nth-child(1),
body > main > div > div.creation_compte_membre_form-section > form > div.crea_membre_mail_tel > fieldset:nth-child(2),
body > main > div > div.creation_compte_membre_form-section > form > div.crea_membre_raison_sociale_num_siren > fieldset:nth-child(1), 
body > main > div > div.creation_compte_membre_form-section > form > div.crea_membre_raison_sociale_num_siren > fieldset:nth-child(2) {
    width: 48%;
}

.creation_compte_membre .crea_membre_raison_sociale_num_siren.creation_compte_membre_form-section,
.creation_compte_membre .crea_membre_mail_tel .creation_compte_membre_form-section {
    width: 50%;
}

.creation_compte_membre .creation_compte_membre_form-section h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.creation_compte_membre .creation_compte_membre_form-section p {
    margin-bottom: 20px;
}

.creation_compte_membre form {
    display: flex;
    flex-direction: column;
}

.creation_compte_membre label {
    font-weight: bold;
}

.creation_compte_membre input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.creation_compte_membre .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}



.creation_compte_membre .checkbox label a {
    color: var(--vert-clair);
    text-decoration: none;
}

.creation_compte_membre #cgu{
    accent-color: var(--vert-clair);
}

.creation_compte_membre .submit-btn {
    background-color: var(--vert-clair);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.creation_compte_membre .submit-btn:hover {
    background-color: var(--vert-fonce);
    transition: ease 0.2s;
}

.creation_compte_membre .creation_compte_membre_other-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.creation_compte_membre .creation_compte_membre_other-links a.connexion_membre {
    color: var(--vert-clair);
    text-decoration: none;
}
.creation_compte_membre .creation_compte_membre_other-links a.inscription_pro {
    color: var(--orange);
    text-decoration: none;
}

.creation_compte_membre .image-section {
    width: 40%;   
}

.creation_compte_membre .image-section img {
    height: 100%;
    width: 33vw;
    border-radius: 10px;
    object-fit: cover;
    object-position: center center;
}


.creation_compte_membre fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 0; /* Enlève le padding en haut */
}




.creation_compte_membre legend {
    font-size: 14px;
    padding: 0 10px;
    color: #333;
    background-color: white;
    position: absolute;
    top: -10px; 
    left: 10px; 

    display: none;

}
.creation_compte_membre fieldset:focus-within legend {
    display:inline;
    transition: ease-out 0.3s;

} 

.creation_compte_membre fieldset input::placeholder {
    padding-left: 10px;
} 
.creation_compte_membre fieldset input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
} 

.creation_compte_membre #remember{
    accent-color: var(--vert-clair);
}

main.creation_compte_membre > div > div.connexion_membre_form-creation_compte_membre_container > form > div.connexion_membre_remember-group > div {
    display: flex;
    flex-direction: row;
}


/* Media query pour masquer l'image sur les petits écrans */
@media (max-width: 768px) {
    .image-section {
        display: none; /* Cache l'image sur les petits écrans */
    }

    .creation_compte_membre_form-section {
        justify-content: center; /* Centre le formulaire quand l'image est cachée */
    }

    main.creation_membre_main {
        height: auto; /* Ajuste la hauteur sur les petits écrans */
    }

    .creation_compte_membre .creation_compte_membre_form-section {
        width: 100%; /* Le formulaire prend toute la largeur sur petits écrans */
    }
}