                                        /*****************************************************
                                                   * Code pour la page création offre 2 *
                                        *****************************************************/

/* Main Container */
.main-creation-offre2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 50px 450px 50px 450px;
}


/* Form Container */
.main-creation-offre2 .form-container2 {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.main-creation-offre2 .fleche_retour{
    padding: 30px 0 10px 70px;
}

.main-creation-offre2 .form-container2 h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
    padding: 10px;
}

.main-creation-offre2 h2{
    padding: 10px;
}

.main-creation-offre2 h3{
    padding: 10px;
}

/* Form Elements */
.main-creation-offre2 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-creation-offre2 .col {
    flex: 1;
    padding: 10px;
}

.main-creation-offre2 .ferme{
    margin-left: 20px;
}

.main-creation-offre2 .table_tags{
    padding: 0 10px;
}


.main-creation-offre2 .col input, .main-creation-offre2 .col select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--orange);
    border-radius: 5px;
}

.main-creation-offre2 label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.main-creation-offre2 .label-check {
    margin-bottom: 0;
    font-weight: lighter;
}

.main-creation-offre2 .price-options, .meal-options, .tarif-option, .boost-options, .offre-options, .duration-options {
    padding: 10px;
}

.main-creation-offre2 .radio-group, .main-creation-offre2 .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.main-creation-offre2 .radio-group div, .main-creation-offre2 .checkbox-group div {
    display: flex;
    align-items: center;
}

.main-creation-offre2 input[type="radio"], .main-creation-offre2 input[type="checkbox"] {
    margin-right: 10px;
}

/* Submit Button */


.main-creation-offre2 #button_valider {
    background-color: var(--orange);
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float : right;
    z-index: 10;
}

.main-creation-offre2 #button_valider img {
    margin-left: 10px;
}

.main-creation-offre2 .notes_explicatives{
    padding-top: 100px;
    font-size: smaller;
}

/* Conteneur pour l'image et le toggle */
.main-creation-offre2 .header-controls {
    display: flex;
    align-items: center; /* Aligne verticalement au centre */
    justify-content: space-between; /* Espacement entre l'image et le toggle */
    padding: 20px 20px 0px 70px; /* Optionnel : espacement autour du conteneur */
}

.main-creation-offre2 .ferme{
    display: flex;
    align-items: center;
}

/* Styles pour l'image des étapes */
.main-creation-offre2 #etapes {
    max-width: 100%; /* Pour s'assurer que l'image est responsive */
    height: auto; /* Conserve le ratio d'aspect */
}

.main-creation-offre2 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 10px;
    margin-left: 30px;
}

.main-creation-offre2 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.main-creation-offre2 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
    height: 26px;
}

.main-creation-offre2 .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.main-creation-offre2 input:checked + .slider {
    background-color: #ffa500;
}

.main-creation-offre2 input:checked + .slider:before {
    transform: translateX(22px); /* Ajusté pour ajouter un espace de 4px à droite */
    background-color: white;
}


.main-creation-offre2 fieldset {
    border: 0px solid #ccc;
    border-radius: 5px;
    position: relative;
    padding-top: 0; /* Enlève le padding en haut */
}

.main-creation-offre2 legend {
    font-size: 14px;
    padding: 0 10px;
    color: #333;
    background-color: white;
    position: absolute;
    top: -10px; 
    left: 10px; 
    z-index: 2;
    display: none;

}

.main-creation-offre2 #jour, .main-creation-offre2 input{
    background-color: white;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-color: var(--orange);
    padding : 0 10px;
}


.main-creation-offre2 fieldset:focus-within legend {
    display:inline;
    transition: ease-out 0.3s;
} 

.main-creation-offre2 fieldset input::placeholder {
    padding-left: 10px;
} 
.main-creation-offre2 fieldset input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
} 


.main-creation-offre2 .dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.main-creation-offre2 .dropdown-button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

.main-creation-offre2 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-creation-offre2 .dropdown-content label {
    display: flex; /* Flexbox pour aligner les items */
    align-items: center; /* Aligne verticalement le texte et la checkbox */
    padding: 8px 10px; /* Ajustement du padding */
    cursor: pointer;
}

.main-creation-offre2 .dropdown-content label:hover {
    background-color: #f0f0f0;
}

.main-creation-offre2 .dropdown-content input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(0.8); /* Diminue la taille de la checkbox */
    cursor: pointer; /* Ajoute un curseur pointer pour la checkbox */
}


.main-creation-offre2 .show {
    display: flex;

}

.main-creation-offre2 .tag{
    margin-bottom: 0;
    font-weight: lighter;
}




/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .main-creation-offre2 .row {
        flex-direction: column;
    }
}


                                        /*****************************************************
                                                   * Code général pour les pages *
                                        *****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --orange : #F28322;
    --vert-clair : #BDC426;
    --vert-fonce : #668C3F;
    --gris : #E8E8E8;
}

@font-face {
    font-family: 'K2D';
    src: url('./polices/K2D/K2D-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: url('./polices/K2D/K2D-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height: 100%; /* Important pour que le footer se positionne en bas */
}




                                        /*****************************************************
                                                    * Code pour la page header/footer *
                                        *****************************************************/



body {
    display: flex;
    flex-direction: column;
    font-family: "K2D", sans-serif;
    min-height: 100vh; /*Pour occuper toute la page*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
    color: white;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px; /*Espace pour les éléments */
    margin-right: 4em;
}

nav ul li a {
    position: relative; /* Ajout pour que ::before fonctionne */
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a.active {
    color: var(--vert-clair);
}

nav ul li a:hover {
    color: var(--vert-clair);
}

.header_pro nav ul li a.active {
    color: var(--orange);
}

.header_pro nav ul li a:hover {
    color: var(--orange);
}

nav ul li a::before {
    content: ""; /* Contenu vide pour l'effet de soulignement */
    position: absolute; /* Positionnement absolu */
    width: 0; /* Largeur initiale de la ligne de soulignement */
    height: 2.5px; /* Hauteur de la ligne de soulignement */
    bottom: -2px; /* Positionnement sous le texte */
    background-color: var(--vert-clair); /* Couleur du soulignement */
    transition: width 0.3s ease; /* Transition fluide */
}

.header_pro nav ul li a::before {
    background-color: var(--orange); /* Couleur du soulignement pro */
}

nav ul li a:hover::before {
    width: 90%; /* Élargissement du soulignement au survol */
}

footer {
    background-color: #000;
    color: rgb(0, 0, 0);
    padding: 0 20px 40px 20px;
    text-align: left;
    width: 100%;
    margin-top: auto; /* Positionne le footer en bas */
}

.newsletter {
    display: flex;
    justify-content: space-between;
    background-color: var(--vert-clair); 
    padding: 20px;
    border-radius: 20px;
    position: relative; /* Permet de le positionner */
    margin-top: -130px; /* Ajuste cette valeur pour chevaucher les sections */
    z-index: 1; /* Assure que le bloc soit au-dessus de la section noire */
    width: 90%; /* Ajuste la largeur si nécessaire */
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}  


.newsletter-content {
    text-align: left;
    max-width: 60%;
}

.newsletter h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.newsletter-form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.newsletter-form button {
    /* padding: 10px 20px; */
    background-color: #112211;
    height: auto;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

.newsletter-form input, .newsletter-form button {
    padding: 10px;
    height: 100%; /* Assure la même hauteur pour les deux */
    border: none;
    border-radius: 5px;
}

.newsletter-form input {
    flex-grow: 1; /* Laisse l'input s'étendre à la largeur restante */
}

.newsletter-form button {
    padding: 0 20px; /* Réduit le padding vertical pour que le bouton reste aligné */
    background-color: #112211;
    color: white;
    cursor: pointer;
}


.newsletter-image img {
    max-height: 100px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-right: 89px;
}

.link-group ul {
    list-style: none;
}

.link-group ul li {
    margin-bottom: 10px;
}

.link-group ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-group ul li a:hover {
    color: var(--vert-clair);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a img {
    width: 24px;
    margin: 0 10px;
}
